/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.Content_2 {
    display: flex;
    width: 990px;
    margin: 0 auto;
}

.Content_2_left {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 20px;
}

.Content_2_right {
    width: 30%;
    padding: 20px;
}

.Content_2_right img {
    width: 100%;
    scale: 1.4;
}

.Content_2_left_first {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1F2B6C;
}

.Content_2_left_second {
    font-size: 16px;
    margin-bottom: 20px;
    color: #139EF4;
    font-weight: bold;
    width: 480px;
}

.Content_2_left_third {
    font-size: 16px;
}

.Content_2_left_third_group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.icon-text {
    display: flex;
    align-items: center;
    background-color: #BFD2F8;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.icon-text svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
