/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  caption, th, td {
    text-align: left;
    font-weight: normal;
  }

/* Main Background */
.main_Background {
    background-image: url('/src/assets/pictures/Main_Backgroundd.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_main_Background {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 200px;
    margin-left: 160px;
}

.first_Letter_box_main_Background {
    color: #159EEC;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.second_Letter_box_main_Background {
    color: #1F2B6C;
    text-transform: uppercase;
    font-weight: bold;  
    font-size: 48px;
}

.button_box_main_Background {
    width: 160px;
    color: #1F2B6C;
    background-color: #BFD2F8;
    border-radius: 20px;
    font-weight: bold;
    padding: 12px;
}