/* Navbar first */
.navbar {
    width: 1400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_Navbar{
    display: flex;
    align-items: center;
    margin-left: 80px;
    flex-direction: row;
}

.name_Logo {
    display: flex;
    margin-left: 10px;
}

.skin_Logo {
    color: black;
    font-weight: bold;
    font-size: 36px;
}

.guard_Logo {
    color: #45B5F4;
    font-weight: bold;
    font-size: 36px;
}

.right_Navbar {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.first_Letter_right_Navbar {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.second_Letter_right_Navbar {
    color: #007AFF;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}