/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans'; /* giống trong ảnh mẫu */
}

.slidebar {
    width: 264px;
    height: 768px;
    background-color: #1A2035;
}

.slidebar_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.slidebar_logo svg {
    width: 32px;
    height: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.slidebar_logo img {
    margin-top: 20px;
    margin-left: 32px;
}

/*  */

.slidebar_functions_logo {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    width: 264px;
    height: 42px;
    top: 128px;
    align-items: center;
    background-color: #14192B;
}

.slidebar_functions_logo svg {
    width: 18px;
    height: 16px;
    margin-left: 25px;
}

.slidebar_functions_logo span {
    font-weight: 700px;
    font-size: 14px;
    margin-left: 28px;
    line-height: 100%;
}

.slidebar_functions {
    display: flex;
    color: #FFFFFF;
    width: 264px;
    height: 42px;
    font-weight: 700px;
    font-size: 14px;
    margin-left: 71px;
    line-height: 100%;
    align-items: center;
}

.slidebar_functions_2 {
    display: flex;
    color: #FFFFFF;
    width: 264px;
    height: 42px;
    font-weight: 700px;
    font-size: 14px;
    margin-left: 100px;
    line-height: 100%;
    align-items: center;
}