/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  caption, th, td {
    text-align: left;
    font-weight: normal;
  }
/* Navbar first */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_Navbar{
    display: flex;
    align-items: center;
    margin-left: 120px;
    flex-direction: row;
}

.name_Logo {
    display: flex;
    margin-left: 10px;
}

.skin_Logo {
    color: black;
    font-weight: bold;
    font-size: 36px;
}

.guard_Logo {
    color: #45B5F4;
    font-weight: bold;
    font-size: 36px;
}

.right_Navbar {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.first_Letter_right_Navbar {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.second_Letter_right_Navbar {
    color: #007AFF;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

/* Navbar second */
.navbar_2 {
    background-color: #1F2B6C;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_Navbar_2 {
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 240px;
}

.right_Navbar_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-right: 160px;
}

.sign_up {
    background-color: black;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.sign_up:hover {
    background-color: #00000095;
    cursor: pointer;
}

.log_in {
    background-color: #007AFF;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

.log_in:hover {
    background-color: #007AFF95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}